@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  font-family: "Dancing Script", cursive;
}

.skillSection{
  background-image: linear-gradient(rgb(31, 41, 55, 0.95),rgb(31, 41, 55, 0.95)),url("./assets/programmingBackground.png");
}

